.form_lead p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;

  color: rgba(0, 0, 0, 0.8);
}

.form_lead h3 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;

  color: rgba(0, 0, 0, 0.8);
}

.form_lead .btn {
  font-weight: bold;
}
