.quem_somos {
  background: rgba(100, 184, 61, 0.3);
}
.quem_somos p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 133%; /* or 24px */
  letter-spacing: 0.05em;

  color: #000000;
}

.quem_somos_img img {
  width: 100%;
  margin: 0 auto;
}
