@media only screen and (min-width: 770px) and (max-width: 959px) {
}

@media only screen and (max-width: 769px) {
  .logo {
    width: 200px;
  }

  .card_intro {
    position: relative;
    top: -100px;
    margin-bottom: -80px;
  }

  .artigo:nth-child(odd) .artigo_img {
    order: 0;
  }

  .form_lead .my-3 {
    margin: 10px 0 !important;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 427px) {
  .navbar .navbar-nav a {
    margin: 5px;
  }

  .intro h1 {
    font-size: 40px;
    line-height: 54px;
  }

  .card_intro {
    position: relative;
    top: -120px;
    margin-bottom: -100px;
  }

  .form_lead .my-3 {
    margin: 5px 0 !important;
  }

  .sobre.p-4 {
    padding: 10px 0 !important;
  }

  .sobre .col {
    padding: 0 !important;
    margin: 0 auto !important;
  }

  .sobre img {
    display: none;
  }

  .sobre h3 {
    text-align: center;
  }

  .logo_footer_responsivo {
    display: block !important;
  }

  .logo_footer {
    display: none !important;
  }

  .footer .row {
    display: flex;
    justify-content: center;
  }
}
